
%link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
%script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
%script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")

%h1 Users
%h2
  = form_tag users_path, :method => 'get', :id => 'users_search'  do
    %p
      = text_field_tag :search, params[:search], placeholder: "Search Users"
      = button_tag type: "submit", :name => nil, :class => "button" do
        Search
  
  - @users.each do |user|
    %p
      = user.name
      = button_to user, :method => 'get',:class => "button" do
        see profile
        %span(class="glyphicon glyphicon-user")
