
<h1> Users</h1>

<%= form_tag users_path, :method => 'get', :id => 'users_search'  do %>
    <p>
        <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
        <%= submit_tag "Search", :name => nil, :class => "button"  %>
    </p>
<% end %>

<% @users.each do |user| %>
<li> 
  <%= gravatar_for user, size: 50 %>
  <%= user.name %>

  <%= button_to "see profile", user, :method => 'get',:class => "button"  %>
  
</li>
<% end %>