
%link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
%script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
%script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
%h2
  %p
  = link_to 'Log-in to Cartographme', login_path, :class => "btn btn-link"

%h1 Sign-up 
#outer
  -unless @user ==nil
    -if @user.errors.any?
      %ul
      -@user.errors.full_messages.each do |msg|
        %li #{msg}

#outer
  = form_tag users_path, :id=>'signup_form', :method=> 'post' do
  
    = label :user, :name, 'Name'
    %br
    = text_field :user, 'name'
  
    %br
    = label :user, :email, 'Email'
    %br
    = text_field :user, 'email'
  
    %br
    = label :user, :password, 'Password'
    %br
    = password_field :user, 'password'
  
    %br
    = label :user, :password_confirmation, 'Password confirmation'
    %br
    = password_field :user, 'password_confirmation'
    %h2
      = button_tag type: "submit", :name => nil, :class => "button" do
        Create my account
        %span(class="glyphicon glyphicon-new-window")
      