%h1 User profile

%p#notice= notice
%h2 
  %strong Name:
  = @user.name
%h2 
  %strong Email:
  = @user.email
  
%h2 
  %strong Following Stats:
%h2 
  %strong Locations visited:
  - array = @user.key_locations
  - array = array.uniq
  - array.each do |location|
    %h2= location.name

%h2
  %strong Recommended Places
  - array = @user.key_locations
  - array = array.uniq
  - array.each do |location|
    - if location.email == @user.email
      %button_to= location.name