<h1> User profile for <%= @user.name %> </h1> 

<h2>
  <ul>
      <div class="dropdown">
        <button class="dropbtn">User Info</button>
        <div class="dropdown-content">
          <a>
              <strong>Name: </strong> <%=@user.name %>
          </a>
          <a>
              <strong>Email: </strong> <%=@user.email %>
          </a>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">Following</button>
        <div class="dropdown-content a">
            <% array = @user.following%>
              <% array = array.uniq%>
              <% if array.empty? == true then %>
                <a><%= "none" %></a>
              <% else %>
                <% array.each do |follow|%>
                  <a><%= link_to "#{follow.name}", user_path(id: follow.id) %></a>
                <% end %>
              <% end %>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">Followers</button>
        <div class="dropdown-content">
            <% array = @user.followers%>
              <% array = array.uniq%>
              <% if array.empty? == true then %>
                <a><%= "none" %></a>
              <% else %>
                <% array.each do |follow|%>
                  <a><%= link_to "#{follow.name}", user_path(id: follow.id) %></a>
                <% end %>
              <% end %>
        </div>
      </div>
          
      <div class="dropdown">
        <button class="dropbtn">Locations visited</button>
        <div class="dropdown-content">
            <% array = @user.key_locations%>
              <% array = array.uniq%>
              <% array.each do |location|%>
                  <a><%= location.name %></a>
              <% end %>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">Recommended Places</button>
        <div class="dropdown-content">
            <% array = @user.key_locations%>
              <% array = array.uniq%>
              <% array.each do |location|%>
                  <% if location.email == @user.email %>
                  <a><%= location.name %></a>
                  <% end %>
              <% end %>
        </div>
      </div>
    </u1>
  </h2>
  <h2>
    <u1>
      <div class="dropdown">
      <% if @current_user != @user then %>
        <div id="follow_form">
        <% if @current_user.followers.contains(@user) then%>
          <%= render 'unfollow' %>
        <% else %>
          <%= render 'follow' %>
        <% end %>
        </div>
      <% end %>
      </div>
    </u1>
  </h2>