<h1> User profile for <%= @user.name %> </h1> 
<h2>
    <u1>
      <div class="dropdown">
      <% if @current_user != @user then %>
        <% if @current_user.following.include?(@user) then %>
          <%= button_to "Unfollow", relationship_path(:user_id => @user.id), :method => :delete, :id => 'unfollow_button', :class => "btn btn-warning" %>
        <% else %>
          <%= button_to "Follow", relationships_path(:followed_id => @user.id), :method => :create, :id => 'follow_button', :class => "btn btn-primary" %>
          <% end %>
      <% else %>
          <p><%= button_to "My Profile", @current_user, :class => "btn btn-info" %></p>
      <% end %>
      </div>
    </u1>
  </h2>
<h2>
  <ul>
      <div class="dropdown">
        <button class="dropbtn">User Info</button>
        <div class="dropdown-content">
          <a>
              <strong>Name: </strong> <%=@user.name %>
          </a>
          <a>
              <strong>Email: </strong> <%=@user.email %>
          </a>
          </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">Following (<%= @user.following.count %>)</button>
        <div class="dropdown-content">
          <% array = @user.following%>
          <% array = array.uniq%>
          <% if array.length > 3 %>
          <div class="myBox">
              <% if array.empty? == true then %>
                <a><%= "none" %></a>
              <% else %>
                <% array.each do |follow|%>
                  <p><%= link_to "#{follow.name}", user_path(id: follow.id) %></p>
                <% end %>
              <% end %>
          </div>
          <% else %>
            <% if array.empty? == true then %>
                <a><%= "none" %></a>
              <% else %>
                <% array.each do |follow|%>
                  <p><%= link_to "#{follow.name}", user_path(id: follow.id) %></p>
                <% end %>
              <% end %>
          <% end %>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">Followers (<%= @user.followers.count %>)</button>
        <div class="dropdown-content">
          
          <% array = @user.followers%>
          <% array = array.uniq%>
          <% if array.length > 3 %>
          <div class="myBox">
              <% if array.empty? == true then %>
                <a><%= "none" %></a>
              <% else %>
                <% array.each do |follow|%>
                  <p><%= link_to "#{follow.name}", user_path(id: follow.id)  %></p>
                <% end %>
              <% end %>
          </div>
          <% else %>
            <% if array.empty? == true then %>
                <a><%= "none" %></a>
              <% else %>
                <% array.each do |follow|%>
                  <p><%= link_to "#{follow.name}", user_path(id: follow.id)  %></p>
                <% end %>
              <% end %>
          <% end %>
        </div>
      </div>
         <% array = @user.key_locations%>
          <% array = array.uniq%>
          
      <div class="dropdown">
        <button class="dropbtn" id="drop">Locations visited (<%= array.length %>)</button>
        <div class="dropdown-content">
          
          <% if array.length > 2 %>
          <div class="myBox">
              <% if array.empty? == true then %>
                <a><%= "none" %></a>
              <% else %>
                <% array.each do |location|%>
                    <a><%= location.name %></a>
                    <i><%= location.description %></i>
                <% end %>
              <% end %>
          </div>
          <% else %>
            <% if array.empty? == true then %>
                <a><%= "none" %></a>
              <% else %>
                <% array.each do |location|%>
                    <a><%= location.name %></a>
                    <i><%= location.description %></i>
                <% end %>
              <% end %>
          <% end %>
        </div>
      </div>
      
      <% array = @user.key_locations%>
          <% array = array.uniq%>
          <% records = 0%>
          <% no_rec = false%>
          
          <% array.each do |location|%>
              <% if location.email == @user.email %>
               <% no_rec = true%>
                <% records = records +1 %>
              <% end %>
          <% end %>
      <div class="dropdown">
        <button class="dropbtn" id="drop1">Recommended Places (<%= records %>)</button>
        <div class="dropdown-content">
          
          
          <% if records > 2 %>
          <div class="myBox">
              <% array.each do |location|%>
                  <% if location.email == @user.email %>
                    <a><%= location.name %></a>
                    <i><%= location.description %></i>
                  <% end %>
              <% end %>
              <% if no_rec == false%>
                <a><%= "none" %></a>
              <% end %>
          </div>
          <% else %>
            <% array.each do |location|%>
                  <% if location.email == @user.email %>
                    <% no_rec = true%>
                    <a><%= location.name %></a>
                    <i><%= location.description %></i>
                  <% end %>
              <% end %>
              <% if no_rec == false%>
                <a><%= "none" %></a>
              <% end %>
          <% end %>
        </div>
      </div>
    </u1>
  </h2>