<h1> User profile </h1> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#drop").click(function(){
        $("p").toggle();
    });
    $("#drop1").click(function(){
        $("p").toggle();
    });
});
</script>
<h2>
  <ul>
      <div class="dropdown">
        <button class="dropbtn">User Info</button>
        <div class="dropdown-content">
          <a>
              <strong>Name: </strong> <%=@user.name %>
          </a>
          <a>
              <strong>Email: </strong> <%=@user.email %>
          </a>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">Following Stats</button>
        <div class="dropdown-content">
            
        </div>
      </div>
          
      <div class="dropdown">
        <button class="dropbtn" id="drop">Locations visited</button>
        <div class="dropdown-content">
            <% array = @user.key_locations%>
              <% array = array.uniq%>
              <% array.each do |location|%>
                  <a><%= location.name %></a>
                  <p><%= location.description %></p>
              <% end %>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn" id="drop1">Recommended Places</button>
        <div class="dropdown-content">
            <% array = @user.key_locations%>
              <% array = array.uniq%>
              <% array.each do |location|%>
                  <% if location.email == @user.email %>
                  <a><%= location.name %></a>
                  <p><%= location.description %></p>
                  <% end %>
              <% end %>
        </div>
      </div>
    </u1>
  </h2>