<% provide(:title, @title) %>
  <div class="dropdown">
    <button class="dropbtn">Follow</button>
      <div class="dropdown-content">
        <h1><%= @user.name %></h1>
        <span><%= link_to "view my profile", @user %></span>
      </div>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </div>
  <div class="dropbtn"></div>>
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>